@model TabloidMVC.Models.ViewModels.PostTagsViewModel

@{
    ViewData["Title"] = $"Post - {Model.post.Title}";
}

<div class="container pt-5">
    <div class="post">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.post.Title</h1>
                <h1 class="text-black-50">@Model.post.Category.Name</h1>
            </div>
            <div class="row justify-content-between">
                <p class="text-secondary">Written by @Model.post.UserProfile.DisplayName</p>
                <p class="text-black-50">Published on @Html.DisplayFor(model => model.post.PublishDateTime)</p>
            </div>
            <div class="row justify-content-between">
                <p class="text-secondary">Tags @string.Join(", ", Model.tags)</p>
                <a asp-controller="Tag" asp-action="GetTagsForPost" asp-route-id="@Model.post.Id" title="Manage Tags">
                    Manage Tags
                </a>
            </div>
            <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </section>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.post.ImageLocation))
        {
            <section class="row justify-content-center">
                <div>
                    <img src="@Model.post.ImageLocation" />
                </div>
            </section>
        }
        <section class="row post__content">
            <p class="col-sm-12 mt-5">@Html.DisplayFor(model => model.post.Content)</p>
        </section>
        <div>
            <a asp-controller="Comment" asp-action="Create" asp-route-id="@Model.post.Id" class="btn btn-outline-primary mx-1" title="Add Comment">
                <i class="fas fa-comment"></i>
            </a>
            <a asp-controller="Comment" asp-action="Index" asp-route-id="@Model.post.Id" class="btn btn-outline-primary mx-1" title="Comments">
                <i class="fas fa-comment-alt"></i>
            </a>
        </div>
    </div>
</div>